section.advantages
  .container
    .advantages__container
      h2.advantages__heading Нас выбирают
      .slider-advantages.swiper-container
        .slider-advantages__wrapper.swiper-wrapper
          .slider-advantages__item.swiper-slide
            .slider-advantages__icon
            .slider-advantages__inner
              .slider-advantages__heading Качество и скорость работы
              .slider-advantages__description Время ремонта в нашем сервисном центре занимает от 30 минут
          .slider-advantages__item.swiper-slide
            .slider-advantages__icon
            .slider-advantages__inner
              .slider-advantages__heading Доступная стоимость работы
              .slider-advantages__description Цены на услуги ремонта Вас приятно удивят
          .slider-advantages__item.swiper-slide
            .slider-advantages__icon
            .slider-advantages__inner
              .slider-advantages__heading Гарантия от 3-х месяцев
              .slider-advantages__description Для клиентов мы предоствляем гарантию на работу
          .slider-advantages__item.swiper-slide
            .slider-advantages__icon
            .slider-advantages__inner
              .slider-advantages__heading Оригинальные запчасти
              .slider-advantages__description Для ремонта используем оригинальные запчасти, либо аналоги
          .slider-advantages__item.swiper-slide
            .slider-advantages__icon
            .slider-advantages__inner
              .slider-advantages__heading Нано оборудование
              .slider-advantages__description Ремонтируем поломки, а не меняем детали целиком
          .slider-advantages__item.swiper-slide
            .slider-advantages__icon
            .slider-advantages__inner
              .slider-advantages__heading Запчасти в наличии
              .slider-advantages__description Всегда в наличии оригинальные запчасти от производителя
          .slider-advantages__item.swiper-slide
            .slider-advantages__icon
            .slider-advantages__inner
              .slider-advantages__heading Режим работы
              .slider-advantages__description Работаем каждый день без выходных и перерывов
          .slider-advantages__item.swiper-slide
            .slider-advantages__icon
            .slider-advantages__inner
              .slider-advantages__heading Скидка 10%
              .slider-advantages__description Даже при втором обращении вы получаете скидку
          .slider-advantages__item.swiper-slide
            .slider-advantages__icon
            .slider-advantages__inner
              .slider-advantages__heading Опытные мастера
              .slider-advantages__description Квалифицированные инженеры с опытом работы от 5 лет
      .slider-advantages__pagination.swiper-pagination
