section.brands
  .container
    .brands__container
      h2.brands__heading Ремонтируем бренды
      ul.brands__list
        li.brands__item
          span.visually-hidden Xiaomi
          Логотип 'Xiaomi'
        li.brands__item
          span.visually-hidden Apple
          Логотип 'Apple'
        li.brands__item
          span.visually-hidden Huawei
          Логотип 'Huawei'
        li.brands__item
          span.visually-hidden Honor
          Логотип 'Honor'
        li.brands__item
          span.visually-hidden Meizu
          Логотип 'Meizu'
        li.brands__item
          span.visually-hidden Samsung
          Логотип 'Samsung'
        li.brands__item
          span.visually-hidden Nokia
          Логотип 'Nokia'
        li.brands__item
          span.visually-hidden Lenovo
          Логотип 'Lenovo'
        li.brands__item
          span.visually-hidden Sony
          Логотип 'Sony'
        li.brands__item
          span.visually-hidden Asus
          Логотип 'Asus'
      button(type="button" name="button") Показать остальные
