section.breakdowns
  .container
    .breakdowns__container
      .breakdowns__heading Ремонтируем поломки
      ul.breakdowns__list
        li.breakdowns__item.breakdowns__item--display
          .breakdowns__accordeon-container
            h3 Дисплей и стекло
            button(type="button" name="button")
              span.visually-hidden Дисплей и стекло
          ul
            li
              a(href="#") Не работает экран
            li
              a(href="#") Треснуло стекло
            li
              a(href="#") Не работает сенсор или тачскрин
            li
              a(href="#") Нет подсветки экрана
            li
              a(href="#") Не работает часть экрана
            li
              a(href="#") Появились полосы
        li.breakdowns__item.breakdowns__item--sound
          .breakdowns__accordeon-container
            h3 Звук и динамики
            button(type="button" name="button")
              span.visually-hidden Звук и динамики
          ul
            li
              a(href="#") Динамик хрипит
            li
              a(href="#") Динамик не работает
            li
              a(href="#") Динамик тихо работает
            li
              a(href="#") Не работают наушники
            li
              a(href="#") Не работает вибро
        li.breakdowns__item.breakdowns__item--buttons
          .breakdowns__accordeon-container
            h3 Кнопки
            button(type="button" name="button")
              span.visually-hidden Кнопки
          ul
            li
              a(href="#") Не работают кнопки
            li
              a(href="#") Ремонт кнопки громкости
            li
              a(href="#") Ремонт кнопки home
        li.breakdowns__item.breakdowns__item--conection
          .breakdowns__accordeon-container
            h3 Связь, сеть и WI-FI
            button(type="button" name="button")
              span.visually-hidden Связь, сеть и WI-FI
          ul
            li
              a(href="#") Не видит SIM карту
            li
              a(href="#") Не видит сеть
            li
              a(href="#") Сеть ловит плохо
            li
              a(href="#") Не работает 3G/4G
            li
              a(href="#") Не работает Wi-Fi
        li.breakdowns__item.breakdowns__item--battery
          .breakdowns__accordeon-container
            h3 Зарядка и батарея
            button(type="button" name="button")
              span.visually-hidden Зарядка и батарея
          ul
            li
              a(href="#") Быстро разряжается
            li
              a(href="#") Вздулся аккумулятор
            li
              a(href="#") Не заряжается
            li
              a(href="#") Плохой контакт зарядки
            li
              a(href="#") Греется во время зарядки
        li.breakdowns__item.breakdowns__item--camera
          .breakdowns__accordeon-container
            h3 Камеры
            button(type="button" name="button")
              span.visually-hidden Камеры
          ul
            li
              a(href="#") Не фокусирует передняя
            li
              a(href="#") Не фокусирует задняя
            li
              a(href="#") Не работает фронтальная
            li
              a(href="#") Не работает задняя
            li
              a(href="#") Не работает вспышка
            li
              a(href="#") Треснуло стекло камеры
        li.breakdowns__item.breakdowns__item--microphone
          .breakdowns__accordeon-container
            h3 Разговор и микрофон
            button(type="button" name="button")
              span.visually-hidden Разговор и микрофон
          ul
            li
              a(href="#") Я не слышу собеседника
            li
              a(href="#") Плохо слышно абонента
            li
              a(href="#") Не гаснет при разговоре
            li
              a(href="#") Собеседник не слышит
            li
              a(href="#") Собеседник плохо слышит
        li.breakdowns__item.breakdowns__item--microphone
          .breakdowns__accordeon-container
            h3 Разговор и микрофон
            button(type="button" name="button")
              span.visually-hidden Разговор и микрофон
          ul
            li
              a(href="#") Я не слышу собеседника
            li
              a(href="#") Плохо слышно абонента
            li
              a(href="#") Не гаснет при разговоре
            li
              a(href="#") Собеседник не слышит
            li
              a(href="#") Собеседник плохо слышит
        li.breakdowns__item.breakdowns__item--common-problems
          .breakdowns__accordeon-container
            h3 Общие проблемы
            button(type="button" name="button")
              span.visually-hidden Общие проблемы
          ul
            li
              a(href="#") Сильно греется
            li
              a(href="#") Глючит или тормозит
            li
              a(href="#") Разблокировка
            li
              a(href="#") Зависает
            li
              a(href="#") Не включается
            li
              a(href="#") Не видит карту памяти
            li
              a(href="#") Попала вода
