section.promo
  .container
    .promo__container
      h1.promo__heading Мы чиним любые телефоны
      p.promo__description Починим Ваш телефон в Санкт-Петербурге
      a.promo__button.main-btn(href="tel:+78125092043") Позвонить нам
