section.promotion
  .container
    .promotion__container
      h2.promotion__heading Актуальные акции
      .slider-promotion.swiper-container
        .slider-promotion__wrapper.swiper-wrapper
          .slider-promotion__item.swiper-slide
            .slider-promotion__slide-inner
              h3.slider-promotion__heading Замена дисплея на xiaomi mi 6
              .slider-promotion__text Замените свой разбитый дисплей на <span>Xiaomi Mi 6</span>
              p.slider-promotion__price
                span 4000
                abbr(title="Рублей") руб
              button.slider-promotion__main-button.main-btn(type="button") Воспользоваться акцией
              a.slider-promotion__secondary-btn(href="#") Показать другие акции
          .slider-promotion__item.swiper-slide
            .slider-promotion__slide-inner
              h3.slider-promotion__heading Замена дисплея на xiaomi mi 6
              .slider-promotion__text Замените свой разбитый дисплей на <span>Xiaomi Mi 6</span>
              p.slider-promotion__price
                span 5000
                abbr(title="Рублей") руб
              button.slider-promotion__main-button.main-btn(type="button") Воспользоваться акцией
              a.slider-promotion__secondary-btn(href="#") Показать другие акции
