section.reviews
  .container
    .reviews__container
      h2.reviews__heading Реальные отзывы
      .slider-reviews.swiper-container
        .slider-reviews__wrapper.swiper-wrapper
          .slider-reviews__item.swiper-slide
            h3.slider-reviews__name Роман
            .slider-reviews__meta
              p Договор: <span>349573</span>
              p Дата: <span>21.03.2021</span>
              .slider-reviews__rating
                div
                div
                div
                div
                div
            p.slider-reviews__text.
              Отличная компания! После моего первого звонка, через
              сутки, у  меня уже висел отремонтированный тв.
              Сами забирали, сами привезли, бесплатно.
              Сейчас очень тяжело  найти добросовестную компанию.
              Молодцы!! Удачи и  развития!!
              И спасибо, за быструю и качественную работу.
            p.slider-reviews__source Читать на
              a(href="#") Яндекс. Отзывах
          .slider-reviews__item.swiper-slide
            h3.slider-reviews__name Алексей
            .slider-reviews__meta
              p Договор: <span>349573</span>
              p Дата: <span>21.03.2021</span>
              .slider-reviews__rating
                div
                div
                div
                div
                div
            p.slider-reviews__text.
              Отличная компания! После моего первого звонка, через
              сутки, у  меня уже висел отремонтированный тв.
              Сами забирали, сами привезли, бесплатно.
              Сейчас очень тяжело  найти добросовестную компанию.
              Молодцы!! Удачи и  развития!!
              И спасибо, за быструю и качественную работу.
            p.slider-reviews__source Читать на
              a(href="#") Google Отзывах
        .slider-advantages__pagination.swiper-pagination
      .reviews__manage
        button.reviews__manage--forsake.main-btn(type="button") Оставить свой отзыв
        ul.reviews__links
          li.reviews__links-item.reviews__links-item--yandex
            a(href="#") Яндекс. Отзывы
          li.reviews__links-item.reviews__links-item--google
            a(href="#") Google Отзывы
          li.reviews__links-item.reviews__links-item--2gis
            a(href="#") 2GIS Отзывы
          li.reviews__links-item.reviews__links-item--yell
            a(href="#") Yell Отзывы
