*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 rem(10px);

  @media (min-width: $tablet-width) {
    padding: 0 rem(50px);
  }
}

.main-btn {
  display: block;
  padding: rem(16px) 0;

  background: $pink;
  box-shadow: rem(0 0 30px) rgba(0, 133, 255, 0.25);

  font-size: rem(15px);
  line-height: rem(18px);
  font-weight: 700;
  color: $white;
  text-decoration: none;
  text-align: center;
}
