header.header
  .container
    .header__container
      a.header__logo(href=pageClass === "index-page" ? false : "index.html")
        Логотип 'Brand Service'
      button.header__sandwich(type="button")
        span.visually-hidden Открыть меню
      .main-nav
        nav.main-nav__inner
          h3.main-nav__heading Навигация
          ul.main-nav__list
            li.main-nav__item
              a.main-nav__link(href="#") Главная
            li.main-nav__item
              a.main-nav__link(href="#") Бренды
            li.main-nav__item
              a.main-nav__link(href="#") Поломки
            li.main-nav__item
              a.main-nav__link(href="#") Новости
            li.main-nav__item
              a.main-nav__link(href="#") Контакты
        .main-nav__info
          h3.main-nav__heading Приходите к нам
          .main-nav__phone
            a(href="tel:+78125092043") +7 (812) 509-20-43
            p.main-nav__schedule Пн-Пт: с 10 до 21, Сб-Вс: с 11 до 20
          address.main-nav__address
            span.main-nav__address-city г. Санкт-Петербург
            span.main-nav__address-street Ленинский пр, 136
            span.main-nav__address-metro м. Ленинский проспект
        a.main-nav__button.main-btn(href="tel:+78125092043") Позвонить нам
