header.header
  .container
    .header__container
      a.header__logo(href=pageClass === "index-page" ? false : "index.html")
        img(src="img/logo.svg" alt="Логотип 'Brand Service'" width="210" height="32")
      button.header__sandwich(type="button")
        span.visually-hidden Открыть меню
      include main-nav

